"map the <Esc> key to something easier
imap jk <ESC>
vmap jk <ESC>

"Ignore case when searching
set ignorecase

"When searching, try to be smart about cases
set smartcase

"Highlight search results
set hlsearch

"Make search act like search in modern browsers (?)
set incsearch

"Relative line numbers for easier jumping
set relativenumber

"Adjust the timeout length for repeated command (like jk)
set timeoutlen=200

"Keep a margin of 5 lines to end when scrolling
set scrolloff=5

"Match web tags like parenthesis
set matchpairs+=<:>